body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e4e4e4;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 700px;
}

.card-wrapper .info {
	display: inline-block;
  width: 320px;
  text-align: center;
  margin-bottom: 0.4rem;
  background-color: #e4e4e4;
  border-radius: 0.4rem;
}

.card-wrapper .info .name {
	font-size: 1.25rem;
	font-weight: bold;
}

.card-wrapper img {
  width: 325px;
  min-height: 566px;
}

.card-wrapper button {
	width: 40%;
}

.header {
	font-size: 1.5rem;
	margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #7bbcf8;
  padding: 0.4rem 0;
  color: #ffffff;
  font-weight: bold;
}

.header-picture {
  border-radius: 8px;
  opacity: 0.7;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  
}

.content {
  margin-left: 1rem;
  background-color: #333;
  color: #e4e4e4;
  padding: 0 1rem;
}

.content p {
  font-size: 1.5rem;
}

.block-anuncio {
  display: flex;
  justify-content: center;
  background-color: #000000;
  padding: 1rem;
  border-radius: 0.4rem;
}

.block-equipamiento {
  display: flex;
  justify-content: center;
}


.block-gallery {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 0 1rem;
}


.block-controls {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin: 0.4rem 0;
	width: 320px;
}

.controls button {
  border: 0 none;
  font-size: 2rem;
  background-color: #fff;
}

.controls button:hover {
  cursor: pointer;
}